body {
    background: linear-gradient(360deg, #4676EE, #134ACC);
    height: 180vh;
    max-height: max-content;
}

* {
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 600; */
}

/* for login.ejs and signup.ejs */
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 150vh;
    text-align: center;
}

/* for the splash.ejs */
.container-initial {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container-splash-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.custom-container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.splash-text {
    color: white;
    font-size: 50px;
    text-align: center;
    font-weight: 1000;
    /* margin-bottom: 40px; */
}

.splash-footer {
    color: white;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 50px;
    color: white;
    background-color: transparent;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 200px;
}

p {
    font-size: 16px;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

.blue-button {
    color: white;
    background: #134ACC;
    border-color: #cfd1d3;
    width: 100%;
}

.blue-button:hover {
    background: #0c338e;
    border-color: #cfd1d3;
    color: white;
}

.white-button {
    color: black;
    background-color: white;
    border-color: #cfd1d3;
    width: 100%;
}

.forgot-password-link {
    display: block;
    text-align: right;
    margin-top: 5px;
    color: rgb(59, 59, 59);
    font-size: 14px;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 20px;
    text-align: left;
    width: 350px;
}

.login-form h1 {
    margin-bottom: 20px;
}

.animate {
    opacity: 0;
    transform: translateX(-50px);
    animation: swipe-right-and-fade-in 0.5s ease forwards;
}

@keyframes swipe-right-and-fade-in {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


form-label {
    text-align: left;
}

.form-text {
    font-size: 12px;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 20px;
    text-align: left;
    width: 350px;
}

.noRightClick {
    pointer-events: none;
}