body {
    background: linear-gradient(360deg, #4676EE, #134ACC);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    font-size: 16px;
    ;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    text-align: center;
    flex: 1;
    margin-top: 100px;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 20px;
    text-align: left;
    /* width: 90vw; */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 50px;
    color: white;
    background-color: transparent;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 200px;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

.blue-button {
    color: white;
    background: #134ACC;
    border-color: #cfd1d3;
    width: 100%;
}

.red-button {
    color: white;
    background: #DF2935;
    border-color: #cfd1d3;
    width: 100%;
}

.blue-button:hover {
    background: #0c338e;
    border-color: #cfd1d3;
    color: white;
}

.user-profile.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.profile-details {
    display: flex;
    margin-left: 20px;
    align-items: center;
}

.profile-details h1,
.profile-details h4 {
    margin: 0 10px;
}

.username {
    color: #1449d0;
}

.profile-name {
    color: black;
    font-style: bold;
}

.pronouns {
    font-size: medium;
    color: rgb(44, 44, 44);
}

.splash-footer {
    color: #f8f9fa;
    padding: 50px;
    text-align: center;
    position: sticky;
    bottom: 0;
}

.splash-header {
    color: #f8f9fa;
    padding: 40px;
    text-align: center;
    position: sticky;
    bottom: 0;
}

.unscrollable {
    overflow: hidden;
}

.tinder--card--img {
    height: 40vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}