<%- include("templates/header") %>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    
<script defer src="scripts/map.js"></script>
<style>
    #map {
        width: 80vw;
        max-width: 90%;
        height: 40vh;
        margin: 0 auto;
    }
</style>

<form class="form" action="/createpod" method="post" enctype="multipart/form-data">
    <h4>Enter pod information:</h4>
    <input type="text" name="name" placeholder="Name of the pod"><br>

    <label>Pod Tags</label>
<div id="tag-inputs">
  <input type="text" class="interests" name="interests[]" placeholder="Start typing an interest...">
</div>
<button id="add-tag" type="button">Add Tag</button>

<script>
$(function() {
  var availableTags = <%- JSON.stringify(interests) %>;

  function initAutocomplete($el) {
    $el.autocomplete({
      source: availableTags,
      select: function(event, ui) {
        if (ui.item) {
          // Existing tag selected, nothing to do
        } else {
          // New tag entered
          var newTag = $el.val().trim();
          if (newTag) {
            // Check if the new tag seems to be a valid word
            // TODO: Replace with real NLP-based validation
            if (isProbablyValidWord(newTag)) {
              // Add to the list of available tags
              availableTags.push(newTag);
              // Update the autocomplete source
              $(".interests").autocomplete("option", "source", availableTags);
            } else {
              // Let the user know the tag is not accepted
              alert('The tag "' + newTag + '" does not seem to be a valid word. Please check and try again.');
              event.preventDefault();
            }
          }
        }
      }
    });
  }

  // Initialize autocomplete for the first input
  initAutocomplete($(".interests"));

  $("#add-tag").click(function() {
    var $newInput = $('<input type="text" class="interests" name="interests[]" placeholder="Start typing an interest...">');
    initAutocomplete($newInput);
    $("#tag-inputs").append($newInput);
  });
});

function isProbablyValidWord(word) {
  // TODO: Replace with real NLP-based validation
  // For now, just checking if the word contains at least one vowel and one consonant, 
  // which is a very simplistic and somewhat English-centric way to guess if a word is probably real
  return /[aeiou]/i.test(word) && /[^aeiou\s]/i.test(word);
}
</script>

    
    <br>
    <br>
    <br>
    <textarea name="eventDescription" placeholder="Enter event description"></textarea><br>
    <input id="lat" name="lat" type="hidden">
    <input id="lng" name="lng" type="hidden">
    <label for="map">Where is this Pod?</label>
    <div id="map"></div>
    <br>

    <input type="file" name="image" accept="image/*"><br>
    <input class="btn blue-button" type="submit" value="Create!">
</form>
<%- include("templates/footer") %>