<%- include("templates/header") %>
<link rel="stylesheet" href="/style/findPods.css">
<div class="tinder">
    <div class="tinder--status">
      <i class="fa fa-remove"></i>
      <i class="fa fa-heart"></i>
    </div>
  
    <div id='stack' class="tinder--cards">
      <div class="tinder--card">
        <img>
        <h3>Demo card 1</h3>
        <p>This is a demo for Tinder like swipe cards</p>
      </div>
    </div>
  
    <div class="tinder--buttons">
      <button id="nope"><i class="btn fa fa-remove"></i></button>
      <button id="love"><i class="btn fa fa-heart"></i></button>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/hammerjs/2.0.8/hammer.min.js"></script>
<script src="/scripts/findPods.js"></script>
<%- include("templates/footer") %>