<%- include("templates/header") %>
<link rel="stylesheet" href="/style/findPods.css">
<header class="d-flex justify-content-center py-3">
    <div class="stack">
        <div class="card">Card 1</div>
        <div class="card">Card 2</div>
        <div class="card">Card 3</div>
        <div class="card">Card 4</div>
        <div class="card">Card 5</div>
    </div>
</header>
<script src="/scripts/findPods.js"></script>
    <%- include("templates/footer") %>