<%- include("templates/header") %>
    <% if (loggedIn) { %>
        <div class="form">
            <h1>
                Welcome back, <br>
                <%= name %>!
            </h1>
            <p>
                Below, you will see Pods that you saved from the <a href='/findPods'>Find</a> page.
            </p>
            <hr>
            <h3>Quick Actions</h3>
            <div class="profile-actions">
                <div class="action-button">
                    <button class="btn blue-button" onclick="window.location.href='/members'">Go to Members
                        Area</button>
                </div>
                <div class="action-button">
                    <button class="btn blue-button" onclick="window.location.href='/logout'">Log out</button>
                </div>
            </div>
        </div>
        <% } else { %>
            <div class="form">
                <a href='/signup'><button class="btn blue-button">Sign up</button></a> <br>
                <a href='/login'><button class="btn blue-button">Log in</button></a>
            </div>
            <% } %>
                <%- include("templates/footer") %>


                    <style>
                        .profile-actions {
                            display: flex;
                        }

                        .action-button {
                            margin-right: 10px;
                        }
                    </style>