<%- include("templates/header") %>
    <% if (loggedIn) { %>
        <div class="form">
            Welcome back, <%= name %>!<br>
                <hr>
                <a href='/members'><button class="btn blue-button">Go to Members area</button></a>
                <hr>
                <a href='/logout'><button class="btn blue-button">Log out</button></a>
                <hr>
                <a href='/findPods'><button class="btn blue-button">Find Pods</button></a>
        </div>
        <% } else { %>
            <div class="form">
                <a href='/signup'><button class="btn blue-button">Sign up</button></a> <br>
                <a href='/login'><button class="btn blue-button">Log in</button></a>
            </div>
            <% } %>
                <%- include("templates/footer") %>