<%- include("templates/header") %>
<header class="d-flex justify-content-center py-3">
    <form>
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="text" class="form-control" name="username">
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-primary" value="Submit" formaction="/login" formmethod="post">Log In</button>
        <button type="submit" class="btn btn-primary" formaction="/resetPassword" formmethod="get">Forgot Your Password?</button>
    </form>
  </header>
<%- include("templates/footer") %>