<%- include("templates/header") %>
    <h1>Members Area</h1>
    Hello <%= name %> <br>
    <a href='/logout'><button class="btn btn-primary mb-3">Log out</button></a> <br>
<%- include("templates/footer") %>
