<%- include("templates/header") %>
    <div class="form">
        <h1>Members Area</h1>
        <p>
            Hmm... <%= name %> it seems like this page is empty. 🤔
        </p>
        <div class="profile-actions">
            <div class="action-button">
                <button class="btn blue-button" onclick="window.location.href='/home'">Let's go back!
                </button>
            </div>
        </div>
    </div>

    <%- include("templates/footer") %>