<%- include("templates/header") %>

<div class="tabs">
  <a href="/yourpods" class="tab <%= activeTab === 'yourpods' ? 'active' : '' %>">Your Pods</a>
  <a href="/createdpods" class="tab <%= activeTab === 'createdpods' ? 'active' : '' %>">Pods You've Created</a>
</div>

<div class="content">
  <% if (activeTab === 'yourpods') { %>
    <h1>Your Pods</h1>
   <!-- content to be added later-->
  <% } else { %>
    <h1>Pods You've Created</h1>
   <!-- content to be added later-->
  <% } %>
</div>

<%- include("templates/footer") %>
