<%- include("templates/header") %>
<script defer src="scripts/podDetails.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<style>
    #map {
        width: 80vw;
        max-width: 90%;
        height: 40vh;
        margin: 0 auto;
    }
</style>

  <!-- <div class="content form">
    <div class="user-profile pods-actions" style="display: flex; justify-content: space-between; width: 100%;">
      <div class="action-button">

      </div>
      <div class="action-button">

      </div>
    </div> -->

    <% if (activeTab==='createdpods' ) { %>
      <%- include("createdpods") %>
        <% } else { %>
          <%- include("attendedpods") %>
            <% } %> 
  </div>

  <%- include("templates/footer") %>

    <!-- <style>
      .pods-actions {
        display: flex;
      }

      .action-button {
        margin-right: 10px;
      }

      .description {
        font-weight: 100;
      }
    </style> -->