<%- include("templates/header") %>
<script defer src="scripts/podDetails.js"></script>

  <!-- <div class="content form">
    <div class="user-profile pods-actions" style="display: flex; justify-content: space-between; width: 100%;">
      <div class="action-button">

      </div>
      <div class="action-button">

      </div>
    </div> -->

    <% if (activeTab==='createdpods' ) { %>
      <%- include("createdpods") %>
        <% } else { %>
          <%- include("attendedpods") %>
            <% } %> 
  </div>

  <%- include("templates/footer") %>

    <!-- <style>
      .pods-actions {
        display: flex;
      }

      .action-button {
        margin-right: 10px;
      }

      .description {
        font-weight: 100;
      }
    </style> -->