<%- include("templates/header") %>
    <form id="contact-form" action="/sendResetEmail" method="post">
        <label>Enter Your Account Email</label>
        <input name="resetEmail" type="email">
        <button type="submit">Reset Password</button>
    </form>
<%- include("templates/footer") %>