<%- include("templates/header") %>
    <script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <form id="contact-form" action="/submitNewPassword" >
        <label>Enter Your Account Email</label>
        <input id="resetEmail" type="email" name="email">
    </form>
<%- include("templates/footer") %>