<%- include("templates/header") %>
    <h1>Settings</h1>

    <form id="settings-form" action="/updateSettings" method="POST">

        <div>
            <label for="pod-proximity">Edit Pod Proximity:</label>
            <input type="range" id="pod-proximity" name="podProximity" min="0" max="1000" value="<%= user.podProximity %>" step="1" oninput="updatePodProximityValue(this.value)">
            <span id="pod-proximity-value"><%= user.podProximity %></span> meters
        </div>

        <button type="submit">Save Changes</button>
    </form>

    <script>
        function updatePodProximityValue(value) {
            document.getElementById("pod-proximity-value").textContent = value;
        }
    </script>
    
<%- include("templates/footer") %>
