<%- include("templates/header") %>
<form id="new-password" action="/submitPassword" method="post">
    <label>Enter Your Account Email</label>
    <input name="resetEmail" type="email">
    <button type="submit">Reset Password</button>
</form>
<%- include("templates/footer") %>