<%- include("../splash/header-splash-login") %>

    <div class="container animate" style="color: black;">

        <header class=" py-3">

            <div class="login-form">

                    <h1>
                        <%= result %>
                    </h1>
                <hr>
                <a href="/login" class="btn blue-button">Log in</a>

            </div>

        </header>
    </div>
    </main>
    </div>
    </body>

    </html>