<%- include("../splash/header-splash-login") %>

    <div class="container animate" style="color: black;">

        <header class=" py-3">
            <div class="login-form">
                
                <h1>Reset Password</h1>

                <form id="fetch-email" action="/sendResetEmail" method="post">
                    <label>What's your account's email?</label>
                    <input class="form-control" name="resetEmail" type="email" placeholder="Email address">
                    <br>
                    <button type="submit" class="btn blue-button">Reset Password</button>
                    <hr>
                    <a href="/login" class="btn white-button">Nevermind, back to log in</a>
                </form>

            </div>
        </header>
    </div>
    </main>
    </div>
    </body>

    </html>