<%- include("../templates/header") %>
<form id="new-password" action="/submitPassword" method="post">
    <input name="code" type="hidden" value="<%= code %>">
    <input name="email" type="hidden" value="<%= email %>">
    <label>Enter Your New Password</label>
    <input name="password" type="password">
    <button type="submit">Reset Password</button>
</form>
<%- include("../templates/footer") %>