<%- include("../splash/header-splash-login") %>

    <div class="container animate" style="color: black;">

        <header class=" py-3">
            <div class="login-form">

                <h1>Update Password</h1>

                <form id="new-password" action="/sendResetEmail" method="post">
                    <input class="form-control" name="code" type="hidden" value="<%= code %>">
                    <input class="form-control" name="email" type="hidden" value="<%= email %>">
                    <label>Enter Your New Password</label>
                    <br>
                    <input class="form-control" name="password" type="password">
                    <br>
                    <button type="submit" class="btn blue-button">Reset Password</button>
                </form>

            </div>
        </header>
    </div>
    </main>
    </div>
    </body>

    </html>