<%- include("../splash/header-splash-login") %>

<div class="container animate" style="color: black;">

    <header class=" py-3">

        <!-- Title on top -->
        <div style="display: flex;align-items: center;justify-content: center;">
            <h1 style="text-align: left; color: white; font-size: 3rem; line-height: 50px; margin: 0;">403</h1>
        </div>

        <!-- Caption for title -->
        <div style="display: flex;align-items: center;justify-content: center;">
            <p style="text-align: left; color: white">
                You must be logged in to gain access to this page.
            </p>
        </div>

        <a href="/"><button class="btn white-button">Go back to home page</button></a>
    </header>
</div>
</main>
</div>
</body>

</html>
