<%- include("../splash/header-splash-login") %>

    <div class="container animate" style="color: black;">

        <header class=" py-3">
            <div class="login-form">

                <div>
                    <%= error %>
                </div>
                <br>
                <a id="retry" href="<%= link %>">Try Again</a>

            </div>
        </header>
    </div>
    </main>
    </div>
    </body>

    </html>