<%- include("../splash/header-splash-login") %>

<div class="container animate" style="color: black;">

    <header class="py-3">
        <body>

        <!-- Title on top -->
        <div style="display: flex; align-items: center; justify-content: center;">
            <h1 style="text-align: left; color: white; font-size: 3rem; line-height: 50px; margin: 0;">Error</h1>
        </div>

        <!-- Caption for title -->
        <div style="display: flex; align-items: center; justify-content: center;">
            <p style="text-align: left; color: white">
                <%= error %>
            </p>
        </div>

        <div style="display: flex;align-items: center;justify-content: center;">
            <a href="<%= link %>"><button class="btn white-button">Try Again</button></a>
        </div>
    </header>
</div>

</main>
</div>
</body>

</html>
