<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FAVICON -->
    <link rel="icon" type="image/png"
        href="https://cdn.discordapp.com/attachments/828116217285836825/1107541475576791100/favicon-32x32.png">

    <!-- TITLE -->
    <title>Welcome to OrcaSwipe</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link rel="stylesheet" href="/style/splash.css">
    <link rel="stylesheet" href="/style/splash-style.css">
    <script>
        var errorMessage = <%- (typeof errorMessage != 'undefined') ? JSON.stringify(errorMessage) : undefined %>
        this.addEventListener('load', () => {
          if (errorMessage){
            setTimeout(() => {window.alert(errorMessage);}, 800)
          }});
      </script>
</head>

<body>

    <main class="body-container">
        <!-- NAVBAR -->
        <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
            <div class="container-fluid d-flex justify-content-between">

                <a class="navbar-brand" href="#">
                    <img
                        src="https://cdn.discordapp.com/attachments/828116217285836825/1110053979540430969/OrcaSwipe_Header_Logo.png">
                </a>

                <form method="POST" action="/splash">
                    <div class="d-flex">
                        <button href="/" class="navbar-button join" name="action" value="signup">JOIN</button>
                        <button href="/" class="navbar-button login" name="action" value="login">LOG IN</button>
                    </div>
                </form>

            </div>
        </nav> -->


        <!-- HEADER -->
        <div class="login-container">
            <!-- Orca! -->
            <div class="animate-orca">
                <img onclick="redirectToFlappyOrca()"
                    src="images/OrcaSwipe_Logo(1000x606).png"
                    alt="logo" class="logo" height="100px">
            </div>
            <br>