<%- include("splash-header") %>
  <div class="container">
    <header class="d-flex justify-content-center py-3">
      <form class="login-form">
        <h1>Welcome back!</h1>
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="text" class="form-control" name="username">
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn white-button" value="Submit" formaction="/login" formmethod="post">Log
          In</button>
        <button type="submit" class="btn white-button" formaction="/resetPassword" formmethod="get">Forgot
          Password</button><br><br>
      </form>
      
    </header>
    <header>
      
    </header>

    <div class="d-flex justify-content-center">
      <a href="/splash" class="btn btn-link return-button">Go back</a>
    </div>
    <br>
  </div>
  <%- include("splash-footer") %>