<%- include("header") %>
  <header class="d-flex justify-content-center py-3">
    <form>
      <h1>Welcome back!</h1>
      <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="email" class="form-control" name="email">
        <div class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
      </div>
      <button type="submit" class="btn btn-primary" value="Submit" formaction="/login" formmethod="post">Log In</button>
      <button type="submit" class="btn btn-secondary" formaction="/resetPassword" formmethod="get">Forgot Your
        Password?</button>
    </form>
  </header>
  <%- include("footer") %>