<div class="logo-container">
    <a href="/" class="logo-link">
        <img src="https://cdn.discordapp.com/attachments/1101692795921645680/1106310966070755388/OrcaSwipe_Logo.png"
            alt="logo" class="logo">
    </a>
    <a href="/" class="logo-link">
        <h1 class="splash-text-2">OrcaSwipe</h1>
    </a>
</div>

<style>
    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        /* Adjust the height as needed */
        align-items: baseline;
    }

    .logo {
        width: auto;
        height: 30px;
        margin-right: 10px;
        /* Adjust the spacing between image and text */
    }

    .splash-text-2 {
        color: white;
        font-size: 40px;
        text-align: center;
        font-weight: 1000;
        margin-bottom: 40px;
    }

    .logo-link {
        text-decoration: none;
        color: inherit;
    }
</style>