<%- include("splash-header.ejs") %>
    <div class="container animate">
        <img src="https://cdn.discordapp.com/attachments/1101692795921645680/1106310966070755388/OrcaSwipe_Logo.png"
            alt="logo" class="logo">
        <h1 class="splash-text">OrcaSwipe</h1>
        <form method="POST" action="/splash">
            <button class="btn white-button" type="submit" name="action" value="signup">Create account</button><br><br>
            <button class="btn" type="submit" name="action" value="login">Log in</button>
        </form>
    </div>
    <%- include("splash-footer.ejs") %>